<a href="https://colab.research.google.com/github/dawick24/Progra-III-2024/blob/main/Fundamentos_de_phyton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hola mundo")
nombre = "David Portillo"

print("Hola", nombre, ", inicial ", nombre[0])

hola mundo
Hola David Portillo , inicial  D

In [ ]:
num1 = 5
num2 = 9.5
resp = num1 + num2
print("La suma es: ", resp)

La suma es:  14.5

Sumar dos numerosw introducidos por el usuario

In [ ]:
print("Num1")
num1 = float (input())

print("Num2")
num2 = float (input())

resp= num1 + num2
print("La suma es: ", resp)

Num1
1
Num2
2
La suma es:  3.0

Mostrar salida oculta

In [ ]:
nombre = "David Portillo"
print(nombre[0:4], nombre[:4], nombre[-1], nombre[5:len(nombre)])

estado = True
print(estado)

print(type(nombre), type(num1), type(num2), type(estado) )

Davi Davi o  Portillo
True
<class 'str'> <class 'float'> <class 'float'> <class 'bool'>

Cree un programa en phyton que lea un numero y determine si es par o impar

In [ ]:
num = int(input("Ingrese un numero:"))
if num % 2 == 0:
  print("El numero es par ", num)
else:
  print("El numero es impar")

Ingrese un numero:2
El numero es par  2

In [ ]:
nombre = input("Nombre: ")
print(nombre, nombre[2])

Nombre: David
David v

In [ ]:
def suma(num1, num2):
  return num1 + num2
num1 = float(input("Num1: "))
num2 = float(input("Num2: "))
resp =suma(num1, num2)
print("La suma es: ", resp)

Convertiri celsius a farenheit, usando fu nciones de usuario

In [ ]:
def convertir_cf(c):
  return c*1.8 + 32

c = float(input("celsius: "))
print("F: ", convertir_cf(c))

celsius: 50
F:  122.0

Determinar si un numereo es par o impar

In [ ]:
def parImpar(num):
  if(num%2==0):
    return "par"
  return "impar"

num = int(input("Num: "))
print("El numero ", num, "es", parImpar(num))

Num: 9
El numero  9 es impar

Tarea (MIERCOLES)

1. Convertir grados farenheits a celsius
2. Convertir grados [Celsius y Fraenheit] a Kelvin.

In [ ]:
def convertir_fc(f):
  return (f - 32) * 5/9

f = float(input("farenheit: "))
print("C:", convertir_fc(f))

farenheit: 10
C: -12.222222222222221

2, CONVERTIR GRADOS [CELSIUS Y FARENHEIT] A KELVIN

---



> Agregar bloque entrecomillado

In [ ]:
def convertir_ck(c):
  k = c + 273.15
  return k

c =float(input("Celsius: "))
print("Kelvin: ", convertir_ck(c))

Celsius: 20
K:  293.15

Farenheit a Kelvin

In [ ]:
def convertir_fk(f):
  k = (f - 32) * 5/9 + 273.15
  return k

f = float(input("Farenheit: "))
print("Kelvin: ", convertir_fk(f))

Farenheit: 70
Kelvin:  294.26111111111106

Calcular el sueldo de un trabajador

In [ ]:
def sueldo(numHrs, valorxHrs):
  sueldo = numHrs * valorxHrs * 30 # 10*1.5*30 = 450
  if(numHrs>8):
    sueldo= sueldo + (numHrs-8) * valorxHrs * 30 # 2*1.5*30 = 90
  return sueldo

numHrs = int(input("Horas: "))
valorxHrs = float(input("Valor: "))

print("sueldo: ", sueldo(numHrs, valorxHrs))

Horas: 10
Valor: 1.5
sueldo:  540.0

Elevar un numero al cuadrado

In [ ]:
def elevarCuadrado(base=0,exponente=2):
 return base**exponente

In [ ]:
num = int(input("Num: "))
print("cuadrado: ", elevarCuadrado(num, 3))

Num: 3
cuadrado:  27

USANDO FUNCIONES LAMBDA

In [ ]:
elevarCuadradoLambda = lambda base, exponente: base**exponente

In [ ]:
valor = int(input("Num: "))
print("cuadrado: ", elevarCuadradoLambda(valor, 2))

Num: 3
cuadrado:  9

In [ ]:
serie = [5,4,3,2,6,7]
resp =map(lambda x: x**2, serie)
print(list(resp))

resp2 = map(elevarCuadrado, serie)
print(list(resp2))

[25, 16, 9, 4, 36, 49]
[25, 16, 9, 4, 36, 49]

Obtener la raiz cuadrada de una serie de numeros frios

In [ ]:
def raizcuadrada(serie):
  return num**0.5

In [ ]:
serie = [2,4,6,8,10]
resp = map(raizcuadrada, serie)
print(list(resp))

[1.7320508075688772, 1.7320508075688772, 1.7320508075688772, 1.7320508075688772, 1.7320508075688772]

***TAREA***  EJERCICIOS PRACTICOS EN PHYTON – Grupos 4

---

# 3- Desarrolle la tabla de meses acumulados a n meses:

In [ ]:
def calcular_acumulacionde(meses):
   acumulacion = 0
   for i in range(1, meses + 1):
       acumulacion += i
   return acumulacion

meses = int(input("Ingrese el numero de meses: "))
resultado = calcular_acumulacionde(meses)
print(f"Acumulacion de {meses} meses: {resultado}")

Ingrese el numero de meses: 24
Acumulacion de 24 meses: 300

# 1- **Calcular** sobre el sueldo las deducciones por ley ISSS (3%), AFP(6.25%), ISR(Según tabla) e imprima el total deducciones y sueldo neto.

In [ ]:
sueldo_salarial = float(input("Ingrese el sueldo: "))
ISSS = sueldo_salarial * 0.03
AFP = sueldo_salarial * 0.0625
ISR = sueldo_salarial * 0.20 # SERA EL % DEL ISR QUE QUEREMOS
# TOTAL DE LAS 3 DEDUCCIONES
total_deduccion = ISSS + AFP + ISR
# SUELDO NETO - EL TOTAL DE DEDUCCION
sueldo_neto = sueldo_salarial - total_deduccion

print(f"ISSS: ${ISSS:.2f}")
print(f"AFP: ${AFP:.2f}")
print(f"ISR: ${ISR:.2f}")
print(f"Total de deducciones: ${total_deduccion:.2f}")
print(f"Sueldo: ${sueldo_neto:.2f}")

Ingrese el sueldo: 375
ISSS: $11.25
AFP: $23.44
ISR: $75.00
Total de deducciones: $109.69
Sueldo: $265.31

# **2- Calcular el valor a pagar según el número de metros consumidos de agua potable.**

In [ ]:
def calcular_valor_apagar(metros_consumidos):
    if metros_consumidos <= 18:
      "La cuota fija para consumo de 1 a 18 metros es"
      total_a_pagar = 6.00
    elif metros_consumidos <= 28:
      "Calcular el exceeso de consumo entre 19 y 28 metros es"
      exceso = metros_consumidos - 18
      total_a_pagar = 6.00 + (exceso * 0.45)
    else:
       "Calcular el exceso de consumo de 29 metros en adelante es"
       exceso =metros_consumidos - 28
       exceso = metros_consumidos - 28
       total_a_pagar = 6.00 + (10 * 0.45) + (exceso * 0.65)

    return total_a_pagar
metros_consumidos = float(input("Introduce los metros de agua consumidos: "))
total_a_pagar = calcular_valor_apagar(metros_consumidos)

print(f"El total a pagar por {metros_consumidos} metros es: ${total_a_pagar:.2f}")

Introduce los metros de agua consumidos: 12
El total a pagar por 12.0 metros es: $6.00

# **`3- Desarrolle la tabla de meses acumulados a n meses:`**

In [ ]:
def suma_acumulada(n):
    acumulacion = n * (n + 1) // 2
    return acumulacion

meses = int(input("""Introduce el número de meses:
"""))
acumulacion_total = suma_acumulada(meses)

print(f"La acumulación total para {meses} meses es: {acumulacion_total}")

Introduce el número de meses:
7
La acumulación total para 7 meses es: 28

# **4- Conversores: **

# **MONEDAS**

In [ ]:
conversiones = {
    1: ("Colón Costarricense (CRC)", 0.0017),
    2: ("Quetzal Guatemalteco (GTQ)", 0.130),
    3: ("Lempira Hondureño (HNL)", 0.041),
    4: ("Córdoba Nicaragüense (NIO)", 0.027),
    5: ("Balboa Panameño (PAB)", 1.0),
    6: ("Dólar Estadounidense (USD)", 1.0),
    7: ("Euro (EUR)", 1.07),
    8: ("Yen Japonés (JPY)", 0.0067),
    9: ("Libras Esterlinas (GBP)", 1.23),
    10: ("Dólar Canadiense (CAD)", 0.75)
}

def mostrar_menu1():
    print("""Elija la moneda que desee:
""")
    for key, (divisa, _) in conversiones.items():
        print(f"{key}. {divisa}")

def mostrar_menu2():
    print("""
Elija la opcion de moneda, a la cual desee convertir:
""")
    for key, (divisa, _) in conversiones.items():
        print(f"{key}. {divisa}")

def convertir_divisa():
    mostrar_menu1()
    origen = int(input("Elija la moneda de origen: "))

    mostrar_menu2()
    destino = int(input("Elija la moneda a la cual desee convertir: "))

    cantidad = float(input(f"Ingrese la cantidad en {conversiones[origen][0]}: "))

    cantidad_en_usd = cantidad * conversiones[origen][1]
    cantidad_convertida = cantidad_en_usd / conversiones[destino][1]

    print(f"{cantidad} {conversiones[origen][0]} son {cantidad_convertida:.2f} {conversiones[destino][0]}")

convertir_divisa()

Elija la moneda que desee:

1. Colón Costarricense (CRC)
2. Quetzal Guatemalteco (GTQ)
3. Lempira Hondureño (HNL)
4. Córdoba Nicaragüense (NIO)
5. Balboa Panameño (PAB)
6. Dólar Estadounidense (USD)
7. Euro (EUR)
8. Yen Japonés (JPY)
9. Libras Esterlinas (GBP)
10. Dólar Canadiense (CAD)
Elija la moneda de origen: 1

Elija la opcion de moneda, a la cual desee convertir:

1. Colón Costarricense (CRC)
2. Quetzal Guatemalteco (GTQ)
3. Lempira Hondureño (HNL)
4. Córdoba Nicaragüense (NIO)
5. Balboa Panameño (PAB)
6. Dólar Estadounidense (USD)
7. Euro (EUR)
8. Yen Japonés (JPY)
9. Libras Esterlinas (GBP)
10. Dólar Canadiense (CAD)
Elija la moneda a la cual desee convertir: 2
Ingrese la cantidad en Colón Costarricense (CRC): 10
10.0 Colón Costarricense (CRC) son 0.13 Quetzal Guatemalteco (GTQ)

# **LONGITUD**

In [ ]:
conversiones = {
    1: ("Milímetros", 0.001),
    2: ("Centímetros", 0.01),
    3: ("Metros", 1),
    4: ("Kilómetros", 1000),
    5: ("Pulgadas", 0.0254),
    6: ("Pies", 0.3048),
    7: ("Yardas", 0.9144),
    8: ("Millas", 1609.34),
    9: ("Micrómetros", 1e-6),
    10: ("Nanómetros", 1e-9)
}

def mostrar_menu1():
    print("""Elija la unidad de longitud que desee :
""")
    for key, (unidad, _) in conversiones.items():
        print(f"{key}. {unidad}")

def mostrar_menu2():
    print("""
Elija la unidad de longitud a la que desee convertir: """)
    for key, (unidad, _) in conversiones.items():
        print(f"{key}. {unidad}")

def convertir_longitud():
    mostrar_menu1()
    origen = int(input("Elija la unidad de origen: "))

    mostrar_menu2()
    destino = int(input("Elija la unidad de destino: "))

    cantidad = float(input(f"Ingrese la cantidad en {conversiones[origen][0]}: "))

    cantidad_en_metros = cantidad * conversiones[origen][1]
    cantidad_convertida = cantidad_en_metros / conversiones[destino][1]

    print(f"{cantidad} {conversiones[origen][0]} son {cantidad_convertida:.2f} {conversiones[destino][0]}")

convertir_longitud()

Elija la unidad de longitud que desee :

1. Milímetros
2. Centímetros
3. Metros
4. Kilómetros
5. Pulgadas
6. Pies
7. Yardas
8. Millas
9. Micrómetros
10. Nanómetros
Elija la unidad de origen: 2

Elija la unidad de longitud a la que desee convertir:
1. Milímetros
2. Centímetros
3. Metros
4. Kilómetros
5. Pulgadas
6. Pies
7. Yardas
8. Millas
9. Micrómetros
10. Nanómetros
Elija la unidad de destino: 1
Ingrese la cantidad en Centímetros: 100
100.0 Centímetros son 1000.00 Milímetros

# **MASA**

In [ ]:
conversiones = {
    1: ("Miligramos", 1e-6),
    2: ("Gramos", 1e-3),
    3: ("Kilogramos", 1),
    4: ("Toneladas métricas", 1000),
    5: ("Onzas", 0.0283495),
    6: ("Libras", 0.453592),
    7: ("Toneladas cortas", 907.185),
    8: ("Toneladas largas", 1016.05),
    9: ("Microgramos", 1e-9),
    10: ("Quintales métricos", 100)
}

def mostrar_menu1():
    print("Elija la unidad de masa que desee:")
    for key, (unidad, _) in conversiones.items():
        print(f"{key}. {unidad}")

def mostrar_menu2():
    print("\nElija la unidad de masa a la que desee convertir:")
    for key, (unidad, _) in conversiones.items():
        print(f"{key}. {unidad}")

def convertir_masa():
    mostrar_menu1()
    origen = int(input("Elija la unidad de origen: "))

    mostrar_menu2()
    destino = int(input("Elija la unidad de destino: "))

    cantidad = float(input(f"Ingrese la cantidad en {conversiones[origen][0]}: "))

    cantidad_en_kg = cantidad * conversiones[origen][1]
    cantidad_convertida = cantidad_en_kg / conversiones[destino][1]

    print(f"{cantidad} {conversiones[origen][0]} son {cantidad_convertida:.2f} {conversiones[destino][0]}")

convertir_masa()

Elija la unidad de masa que desee:
1. Miligramos
2. Gramos
3. Kilogramos
4. Toneladas métricas
5. Onzas
6. Libras
7. Toneladas cortas
8. Toneladas largas
9. Microgramos
10. Quintales métricos
Elija la unidad de origen: 3

Elija la unidad de masa a la que desee convertir:
1. Miligramos
2. Gramos
3. Kilogramos
4. Toneladas métricas
5. Onzas
6. Libras
7. Toneladas cortas
8. Toneladas largas
9. Microgramos
10. Quintales métricos
Elija la unidad de destino: 2
Ingrese la cantidad en Kilogramos: 5
5.0 Kilogramos son 5000.00 Gramos

# **ALMACENAMIENTO**

In [ ]:
conversiones = {
    1: ("Bits", 1/8),
    2: ("Bytes", 1),
    3: ("Kilobytes", 1024),
    4: ("Megabytes", 1024**2),
    5: ("Gigabytes", 1024**3),
    6: ("Terabytes", 1024**4),
    7: ("Petabytes", 1024**5),
    8: ("Exabytes", 1024**6),
    9: ("Zettabytes", 1024**7),
    10: ("Yottabytes", 1024**8)
}

def mostrar_menu1():
    print("Elija la unidad de almacenamiento que desee:")
    for key, (unidad, _) in conversiones.items():
        print(f"{key}. {unidad}")

def mostrar_menu2():
    print("\nElija la unidad de almacenamiento a la que desee convertir:")
    for key, (unidad, _) in conversiones.items():
        print(f"{key}. {unidad}")

def convertir_almacenamiento():
    mostrar_menu1()
    origen = int(input("Elija la unidad de origen: "))

    mostrar_menu2()
    destino = int(input("Elija la unidad de destino: "))

    cantidad = float(input(f"Ingrese la cantidad en {conversiones[origen][0]}: "))

    cantidad_en_bytes = cantidad * conversiones[origen][1]
    cantidad_convertida = cantidad_en_bytes / conversiones[destino][1]

    print(f"{cantidad} {conversiones[origen][0]} son {cantidad_convertida:.2f} {conversiones[destino][0]}")

convertir_almacenamiento()

Elija la unidad de almacenamiento que desee:
1. Bits
2. Bytes
3. Kilobytes
4. Megabytes
5. Gigabytes
6. Terabytes
7. Petabytes
8. Exabytes
9. Zettabytes
10. Yottabytes
Elija la unidad de origen: 4

Elija la unidad de almacenamiento a la que desee convertir:
1. Bits
2. Bytes
3. Kilobytes
4. Megabytes
5. Gigabytes
6. Terabytes
7. Petabytes
8. Exabytes
9. Zettabytes
10. Yottabytes
Elija la unidad de destino: 5
Ingrese la cantidad en Megabytes: 1024
1024.0 Megabytes son 1.00 Gigabytes

# **TIEMPO**

In [ ]:
conversiones = {
    1: ("Segundos", 1),
    2: ("Minutos", 60),
    3: ("Horas", 60 * 60),
    4: ("Días", 24 * 60 * 60),
    5: ("Meses", 30.44 * 24 * 60 * 60),
    6: ("Años", 365.25 * 24 * 60 * 60),
    7: ("Bienios", 2 * 365.25 * 24 * 60 * 60),
    8: ("Lustros", 5 * 365.25 * 24 * 60 * 60),
    9: ("Sexenios", 6 * 365.25 * 24 * 60 * 60),
    10: ("Décadas", 10 * 365.25 * 24 * 60 * 60),
    11: ("Siglos", 100 * 365.25 * 24 * 60 * 60),
    12: ("Milenios", 1000 * 365.25 * 24 * 60 * 60)
}

dias_por_mes = {
    1: 31,  # Meses y dias de cada mes.
    2: 28,
    3: 31,
    4: 30,
    5: 31,
    6: 30,
    7: 31,
    8: 31,
    9: 30,
    10: 31,
    11: 30,
    12: 31
}

def dias_en_mes(promedio=True, año=None):
    if promedio:
        return 30.44
    else:
        if año is None:
            raise ValueError("El año debe ser proporcionado para cálculos exactos.")
        es_bisiesto = (año % 4 == 0 and (año % 100 != 0 or año % 400 == 0))
        dias = dias_por_mes.copy()
        if es_bisiesto:
            dias[2] = 29
        return dias

def convertir_tiempo():
    mostrar_menu1()
    origen = int(input("Elija la unidad de origen: "))

    mostrar_menu2()
    destino = int(input("Elija la unidad de destino: "))

    cantidad = float(input(f"Ingrese la cantidad en {conversiones[origen][0]}: "))

    cantidad_en_segundos = cantidad * conversiones[origen][1]
    cantidad_convertida = cantidad_en_segundos / conversiones[destino][1]

    print(f"{cantidad} {conversiones[origen][0]} son {cantidad_convertida:.2f} {conversiones[destino][0]}")

def mostrar_menu1():
    print("Elija la unidad de tiempo que desee:")
    for key, (unidad, _) in conversiones.items():
        print(f"{key}. {unidad}")

def mostrar_menu2():
    print("\nElija la unidad de tiempo a la que desee convertir:")
    for key, (unidad, _) in conversiones.items():
        print(f"{key}. {unidad}")

convertir_tiempo()

Elija la unidad de tiempo que desee:
1. Segundos
2. Minutos
3. Horas
4. Días
5. Meses
6. Años
7. Bienios
8. Lustros
9. Sexenios
10. Décadas
11. Siglos
12. Milenios
Elija la unidad de origen: 2

Elija la unidad de tiempo a la que desee convertir:
1. Segundos
2. Minutos
3. Horas
4. Días
5. Meses
6. Años
7. Bienios
8. Lustros
9. Sexenios
10. Décadas
11. Siglos
12. Milenios
Elija la unidad de destino: 1
Ingrese la cantidad en Minutos: 2
2.0 Minutos son 120.00 Segundos

# **TIEMPO**

In [ ]:
conversiones = {
    1: ("Mililitros", 1),
    2: ("Centímetros cúbicos", 1),
    3: ("Litros", 1000),
    4: ("Decímetros cúbicos", 1000),
    5: ("Metros cúbicos", 1000000),
    6: ("Pies cúbicos", 28316.8466),
    7: ("Yardas cúbicas", 764554.85798),
    8: ("Galones (EE.UU.)", 3785.41),
    9: ("Galones (Imperial)", 4546.09),
    10: ("Onzas líquidas (EE.UU.)", 29.5735)
}

def mostrar_menu1():
    print("Elija la unidad de volumen que desee:")
    for key, (unidad, _) in conversiones.items():
        print(f"{key}. {unidad}")

def mostrar_menu2():
    print("\nElija la unidad de volumen a la que desee convertir:")
    for key, (unidad, _) in conversiones.items():
        print(f"{key}. {unidad}")

def convertir_volumen():
    mostrar_menu1()
    origen = int(input("Elija la unidad de origen: "))

    mostrar_menu2()
    destino = int(input("Elija la unidad de destino: "))

    cantidad = float(input(f"Ingrese la cantidad en {conversiones[origen][0]}: "))

    cantidad_en_cm3 = cantidad * conversiones[origen][1]
    cantidad_convertida = cantidad_en_cm3 / conversiones[destino][1]

    print(f"{cantidad} {conversiones[origen][0]} son {cantidad_convertida:.3f} {conversiones[destino][0]}")

convertir_volumen()

Elija la unidad de volumen que desee:
1. Mililitros
2. Centímetros cúbicos
3. Litros
4. Decímetros cúbicos
5. Metros cúbicos
6. Pies cúbicos
7. Yardas cúbicas
8. Galones (EE.UU.)
9. Galones (Imperial)
10. Onzas líquidas (EE.UU.)
Elija la unidad de origen: 3

Elija la unidad de volumen a la que desee convertir:
1. Mililitros
2. Centímetros cúbicos
3. Litros
4. Decímetros cúbicos
5. Metros cúbicos
6. Pies cúbicos
7. Yardas cúbicas
8. Galones (EE.UU.)
9. Galones (Imperial)
10. Onzas líquidas (EE.UU.)
Elija la unidad de destino: 1
Ingrese la cantidad en Litros: 1
1.0 Litros son 1000.000 Mililitros

# **AREA**

In [ ]:
conversiones = {
    1: ("Milímetros cuadrados", 1e-6),
    2: ("Centímetros cuadrados", 1e-4),
    3: ("Decímetros cuadrados", 1e-2),
    4: ("Metros cuadrados", 1),
    5: ("Hectáreas", 1e4),
    6: ("Kilómetros cuadrados", 1e6),
    7: ("Pies cuadrados", 0.092903),
    8: ("Yardas cuadradas", 0.836127),
    9: ("Acres", 4046.86),
    10: ("Millas cuadradas", 2.58999e6)
}

def mostrar_menu1():
    print("Elija la unidad de área que desee:")
    for key, (unidad, _) in conversiones.items():
        print(f"{key}. {unidad}")

def mostrar_menu2():
    print("\nElija la unidad de área a la que desee convertir:")
    for key, (unidad, _) in conversiones.items():
        print(f"{key}. {unidad}")

def convertir_area():
    mostrar_menu1()
    origen = int(input("Elija la unidad de origen: "))

    mostrar_menu2()
    destino = int(input("Elija la unidad de destino: "))

    cantidad = float(input(f"Ingrese la cantidad en {conversiones[origen][0]}: "))

    cantidad_en_m2 = cantidad * conversiones[origen][1]
    cantidad_convertida = cantidad_en_m2 / conversiones[destino][1]

    print(f"{cantidad} {conversiones[origen][0]} son {cantidad_convertida:.2f} {conversiones[destino][0]}")

convertir_area()

Elija la unidad de área que desee:
1. Milímetros cuadrados
2. Centímetros cuadrados
3. Decímetros cuadrados
4. Metros cuadrados
5. Hectáreas
6. Kilómetros cuadrados
7. Pies cuadrados
8. Yardas cuadradas
9. Acres
10. Millas cuadradas
Elija la unidad de origen: 3

Elija la unidad de área a la que desee convertir:
1. Milímetros cuadrados
2. Centímetros cuadrados
3. Decímetros cuadrados
4. Metros cuadrados
5. Hectáreas
6. Kilómetros cuadrados
7. Pies cuadrados
8. Yardas cuadradas
9. Acres
10. Millas cuadradas
Elija la unidad de destino: 2
Ingrese la cantidad en Decímetros cuadrados: 2
2.0 Decímetros cuadrados son 200.00 Centímetros cuadrados

In [ ]:
def convertir_cajas_unidades (cajas):
   return cajas * 25

def convertir_unidades_cajas(unidades):
   return unidades/ 25

def convertir_sacos_libras (sacos):
   return sacos * 50

def convertir_libras_sacos (libras):
   return libras / 50

def convertir_fardos_unidades (fardos):
   return fardos *5

def convertir_unidades_fardos (unidades):
   return unidades/5

#Aqui es la conversion general
def conversor():

   print ("Seleccione la conversión que desea realizar: ")
   print ("i: Cajas a Unidades")
   print("2: Unidades a Cajas")
   print ("3: Sacos a Libras")
   print ("4: Libras a Sacos")
   print ("5: Fardos a Unidades")
   print ("6: Unidades a Fardos")

   opcion= int (input ("Ingrese el número de la opción deseada: "))

   if opcion == 1:
       cajas = float(input(" Ingrese el nümero de cajas: "))
       print (f"{cajas} cajas son {convertir_cajas_unidades (cajas)} unidades.")
   elif opcion ==2:
       unidades = float(input ("Ingrese el número de unidades: "))
       print(f"{unidades} unidades son {convertir_unidades_cajas (unidades)} cajas.")
   elif opcion == 3:
       sacos = float(input (" Ingrese el número de sacos: "))
       print(f" (sacos) sacos son (convertir sacos libras (sacos) ) libras.")
   elif opcion == 4:
       libras = float(input (" Ingrese el número de libras: "))
       print(f"{libras} libras son {onvertir_libras_sacos(libras)} sacos.")
   elif opcion == 5:
       fardos = float(input (" Ingrese el número de fardos: "))
       print(f"{ fardos} fardos son {convertir_fardos_unidades (fardos)} unidades.")
   elif opcion == 6:
       unidades = float(input ("Ingrese el número de unidades: "))
       print(f"{unidades} unidades son {convertir_unidades_fardos (unidades)} fardos.")
   else:
      print ("Opción no válida")

conversor()

Seleccione la conversión que desea realizar:
i: Cajas a Unidades
2: Unidades a Cajas
3: Sacos a Libras
4: Libras a Sacos
5: Fardos a Unidades
6: Unidades a Fardos
Ingrese el número de la opción deseada: 2
Ingrese el número de unidades: 125
125.0 unidades son 5.0 cajas.

otro

In [ ]:
serie = [1,2,3,3,4,4,1,8,9]
print(serie.count(1))

2

In [ ]:
23numeros = []
for i in range (1,10):
  numeros.append(input("Num: " + str(i)+":"))
num = int(input("Numero a buscar: "))
print("Serie: ", numeros, "El numero", num, ", Se repite:", numeros.count(num))

Num: 1:1
Num: 2:1
Num: 3:1
Num: 4:
Num: 5:
Num: 6:3
Num: 7:4
Num: 8:2
Num: 9:4
Numero a buscar: 1
Serie:  ['1', '1', '1', '', '', '3', '4', '2', '4'] El numero 1 , Se repite: 0

In [ ]:
numeros = [1,5,3,4,6,2]
numeros.sort()
print(numeros)

[1, 2, 3, 4, 5, 6]

**DICCIONARIO**

In [ ]:
datos = {
    "Codigo":"SMSS132922",
    "Nombre":"David Portillo",
    "Materias":[
        {"Codigo":"683","Nombre":"Programacion","notas":{
            "c1":{"lab1":8,"lab2":9,"parcial":10},
            "c1":{"lab1":4,"lab2":9,"parcial":10},
            "c1":{"lab1":3,"lab2":4,"parcial":5},
            }
         },
        {"Codigo":"683","Nombre":"Matematica"}
    ]
}
print(datos["Nombre"], datos["Materias"][0]["Nombre"], datos["Materias"][0]["notas"]["c1"])

David Portillo Programacion {'lab1': 3, 'lab2': 4, 'parcial': 5}

Desarrolle el conversor de Area (superficie) haciendo uso de los diccionarios y las funciones de ususario en python

In [ ]:
# Diccionario con factores de conversión relativos a 1 metro cuadrado (m²)
conversion_factors = {
    'm²': 1,                    # Metro cuadrado
    'cm²': 10000,               # Centímetro cuadrado
    'mm²': 1e6,                 # Milímetro cuadrado
    'km²': 1e-6,                # Kilómetro cuadrado
    'ft²': 10.7639,             # Pie cuadrado
    'in²': 1550.0031,           # Pulgada cuadrada
    'yd²': 1.19599,             # Yarda cuadrada
    'acre': 0.000247105,        # Acre
    'ha': 0.0001,               # Hectárea
}

# Función para convertir de una unidad a otra
def convertir_area(cantidad, unidad_origen, unidad_destino):
    if unidad_origen not in conversion_factors:
        raise ValueError(f"Unidad de origen '{unidad_origen}' no es válida.")
    if unidad_destino not in conversion_factors:
        raise ValueError(f"Unidad de destino '{unidad_destino}' no es válida.")

    # Convertir de unidad de origen a metros cuadrados
    metros_cuadrados = cantidad * conversion_factors[unidad_origen]

    # Convertir de metros cuadrados a unidad de destino
    resultado = metros_cuadrados / conversion_factors[unidad_destino]

    return resultado

# Ejemplo de uso
cantidad = 1000
unidad_origen = 'm²'
unidad_destino = 'ft²'

resultado = convertir_area(cantidad, unidad_origen, unidad_destino)
print(f"{cantidad} {unidad_origen} son {resultado:.2f} {unidad_destino}")

1000 m² son 92.90 ft²

In [ ]:
# Diccionario con tasas de impuestos para diferentes actividades económicas
tasas_impuestos = {
    'comercio': 0.15,       # 15% de impuesto para comercio
    'servicios': 0.10,      # 10% de impuesto para servicios
    'industria': 0.20,      # 20% de impuesto para industria
    'agricultura': 0.05     # 5% de impuesto para agricultura
}

# Función para calcular el impuesto
def calcular_impuesto(ingresos, actividad):
    if actividad not in tasas_impuestos:
        raise ValueError(f"Actividad económica '{actividad}' no es válida.")

    tasa = tasas_impuestos[actividad]
    impuesto = ingresos * tasa

    return impuesto

# Ejemplo de uso
ingresos = 50000  # Ingresos de la actividad económica
actividad = 'comercio'

impuesto = calcular_impuesto(ingresos, actividad)
print(f"El impuesto para la actividad de {actividad} con ingresos de {ingresos} es {impuesto:.2f}")

In [ ]:

cuentas = {
    '1234': {'pin': '4321', 'saldo': 1000},
    '5678': {'pin': '8765', 'saldo': 2000},
    '9101': {'pin': '1019', 'saldo': 1500},
}

def validar_pin(numero_cuenta, pin):
    if numero_cuenta in cuentas and cuentas[numero_cuenta]['pin'] == pin:
        return True
    return False

def consultar_saldo(numero_cuenta):
    return cuentas[numero_cuenta]['saldo']

def depositar(numero_cuenta, monto):
    cuentas[numero_cuenta]['saldo'] += monto
    return cuentas[numero_cuenta]['saldo']

def retirar(numero_cuenta, monto):
    if cuentas[numero_cuenta]['saldo'] >= monto:
        cuentas[numero_cuenta]['saldo'] -= monto
        return cuentas[numero_cuenta]['saldo']
    else:
        raise ValueError("Fondos insuficientes")

def cajero_automatico():
    print("Bienvenido al Cajero Automático")

    numero_cuenta = input("Ingrese su número de cuenta: ")
    pin = input("Ingrese su PIN: ")

    if validar_pin(numero_cuenta, pin):
        while True:
            print("\nOpciones:")
            print("1. Consultar Saldo")
            print("2. Depositar Dinero")
            print("3. Retirar Dinero")
            print("4. Salir")

            opcion = input("Seleccione una opción: ")

            if opcion == '1':
                saldo = consultar_saldo(numero_cuenta)
                print(f"Su saldo actual es: {saldo}")

            elif opcion == '2':
                monto = float(input("Ingrese el monto a depositar: "))
                saldo = depositar(numero_cuenta, monto)
                print(f"Depósito exitoso. Su nuevo saldo es: {saldo}")

            elif opcion == '3':
                monto = float(input("Ingrese el monto a retirar: "))
                try:
                    saldo = retirar(numero_cuenta, monto)
                    print(f"Retiro exitoso. Su nuevo saldo es: {saldo}")
                except ValueError as e:
                    print(e)

            elif opcion == '4':
                print("Gracias por usar el cajero automático. ¡Hasta luego!")
                break

            else:
                print("Opción no válida. Inténtelo de nuevo.")
    else:
        print("Número de cuenta o PIN incorrecto.")

cajero_automatico()

Bienvenido al Cajero Automático
Ingrese su número de cuenta: 1234
Ingrese su PIN: 4321

Opciones:
1. Consultar Saldo
2. Depositar Dinero
3. Retirar Dinero
4. Salir
Seleccione una opción: 4
Gracias por usar el cajero automático. ¡Hasta luego!

Desarrolle un programa en Python que simule a un cajero automático.
Haga uso de las estructuras de control

In [11]:
def mostrar_menu():
    print("***** Cajero Automático *****")
    print("1. Consultar saldo")
    print("2. Depositar dinero")
    print("3. Retirar dinero")
    print("4. Salir")
    print("*****************************")

def consultar_saldo(saldo):
    print(f"Su saldo actual es: ${saldo:.2f}")

def depositar_dinero(saldo):
    try:
        cantidad = float(input("Ingrese la cantidad a depositar: $"))
        if cantidad <= 0:
            print("La cantidad debe ser positiva.")
        else:
            saldo += cantidad
            print(f"Depósito exitoso. Su nuevo saldo es: ${saldo:.2f}")
    except ValueError:
        print("Por favor, ingrese un monto válido.")

    return saldo

def calcular_billetes(monto):
    denominaciones = [20, 10, 5, 1, 0.25]
    billetes = {}

    for valor in denominaciones:
        cantidad_billetes, monto = divmod(monto, valor)
        if cantidad_billetes > 0:
            billetes[valor] = int(cantidad_billetes)

    return billetes

def retirar_dinero(saldo):
    try:
        cantidad = float(input("Ingrese la cantidad a retirar: $"))
        if cantidad <= 0:
            print("La cantidad debe ser positiva.")
        elif cantidad > saldo:
            print("Fondos insuficientes.")
        else:
            saldo -= cantidad
            billetes = calcular_billetes(cantidad)
            print("Retiro exitoso.")
            for valor, cantidad in billetes.items():
                print(f"${valor} billete(s): {cantidad}")
            print(f"Su nuevo saldo es: ${saldo:.2f}")
    except ValueError:
        print("Por favor, ingrese un monto válido.")

    return saldo

def main():
    saldo = 1000.00
    while True:
        mostrar_menu()
        try:
            opcion = int(input("Seleccione una opción: "))
            if opcion == 1:
                consultar_saldo(saldo)
            elif opcion == 2:
                saldo = depositar_dinero(saldo)
            elif opcion == 3:
                saldo = retirar_dinero(saldo)
            elif opcion == 4:
                print("Gracias por usar el cajero automático. ¡Hasta luego!")
                break
            else:
                print("Opción no válida. Por favor, seleccione una opción del menú.")
        except ValueError:
            print("Por favor, ingrese un número válido.")

if __name__ == "__main__":
    main()

***** Cajero Automático *****
1. Consultar saldo
2. Depositar dinero
3. Retirar dinero
4. Salir
*****************************
Seleccione una opción: 4
Gracias por usar el cajero automático. ¡Hasta luego!

In [ ]:
conversor_factores = {
    'm2': 1,
    'ft2': 10.7639,
    'yd2': 1.1959,
    'vara2': 0.6988,
    't': 628.8,
    'manzanas': 6988.96,
    'hectarea': 0.0001,
}

def convertir_area(valor, unidad_origen, unidad_destino):
  factor_origen = conversor_factores[unidad_origen]
  factor_destino = conversor_factores[unidad_destino]
  return valor * factor_origen / factor_destino

def mostrar_menu():
  print('Elije la unidad que deseas convertir:')
  for i, unidad in enumerate(conversor_factores.keys()):
    print(f'{i+1}. {unidad}')

mostrar_menu()
opcion_origen = int(input('Elige una opción: '))
unidad_origen = list(conversor_factores.keys())[opcion_origen - 1]

mostrar_menu()
opcion_destino = int(input('Elige una opción: '))
unidad_destino = list(conversor_factores.keys())[opcion_destino - 1]

valor = float(input('Introduce el valor que deseas convertir: '))

resultado = convertir_area(valor, unidad_origen, unidad_destino)
print(f'{valor} {unidad_origen} es {resultado} {unidad_destino}')

Elije la unidad que deseas convertir:
1. m2
2. ft2
3. yd2
4. vara2
5. t
6. manzanas
7. hectarea
Elige una opción: 1
Elije la unidad que deseas convertir:
1. m2
2. ft2
3. yd2
4. vara2
5. t
6. manzanas
7. hectarea
Elige una opción: 2
Introduce el valor que deseas convertir: 20
20.0 m2 es 1.858062598128931 ft2

In [3]:
def calcular_impuesto(monto):
    tabla_para_impuestos = [
       {'desde': 0.01, 'hasta': 500, 'tarifa_fija': 1.5, 'adicional': 0},
        {'desde': 500.01, 'hasta': 1000, 'tarifa_fija': 1.5, 'adicional': 3},
        {'desde': 1000.01, 'hasta': 2000, 'tarifa_fija': 3, 'adicional': 3},
        {'desde': 2000.01, 'hasta': 3000, 'tarifa_fija': 6, 'adicional': 3},
        {'desde': 3000.01, 'hasta': 6000, 'tarifa_fija': 9, 'adicional': 2},
        {'desde': 8000.01, 'hasta': 18000, 'tarifa_fija': 15, 'adicional': 2},
        {'desde': 18000.01, 'hasta': 30000, 'tarifa_fija': 39, 'adicional': 2},
        {'desde': 30000.01, 'hasta': 60000, 'tarifa_fija': 63, 'adicional': 1},
        {'desde': 60000.01, 'hasta': 100000, 'tarifa_fija': 93, 'adicional': 0.8},
        {'desde': 100000.01, 'hasta': 200000, 'tarifa_fija': 125, 'adicional': 0.7},
        {'desde': 20000.01, 'hasta': 400000, 'tarifa_fija': 195, 'adicional': 0.6},
        {'desde': 400000.01, 'hasta': 600000, 'tarifa_fija': 255, 'adicional': 0.45},
        {'desde': 600000.01, 'hasta': 800000, 'tarifa_fija': 300, 'adicional': 0.4},
        {'desde': 800000.01, 'hasta': 1000000, 'tarifa_fija': 340, 'adicional': 0.3},
        {'desde': 1000000.01, 'hasta': 999999999, 'tarifa_fija': 490, 'adicional': 0.18},
    ]

    for rango in tabla_para_impuestos:
        if rango['desde'] <= monto <= rango['hasta']:
            base = monto - rango['desde']
            impuesto = base / 1000 * rango['tarifa_fija'] + rango['adicional']
            return round(impuesto, 2)
    return 0
monto = float(input("Porfavor ingrese la cantidad que quiere calcular: "))
impuesto = calcular_impuesto(monto)
print(f"El impuesto a pagar es: ${impuesto}")

Porfavor ingrese la cantidad que quiere calcular: 855
El impuesto a pagar es: $3.53