<a href="https://colab.research.google.com/github/dawick24/Progra-III-2024/blob/main/Fundamentos_de_phyton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hola mundo")
nombre = "David Portillo"

print("Hola", nombre, ", inicial ", nombre[0])

hola mundo
Hola David Portillo , inicial  D

In [ ]:
num1 = 5
num2 = 9.5
resp = num1 + num2
print("La suma es: ", resp)

La suma es:  14.5

Sumar dos numerosw introducidos por el usuario

In [ ]:
print("Num1")
num1 = float (input())

print("Num2")
num2 = float (input())

resp= num1 + num2
print("La suma es: ", resp)

Num1
1
Num2
2
La suma es:  3.0

Mostrar salida oculta

In [ ]:
nombre = "David Portillo"
print(nombre[0:4], nombre[:4], nombre[-1], nombre[5:len(nombre)])

estado = True
print(estado)

print(type(nombre), type(num1), type(num2), type(estado) )

Davi Davi o  Portillo
True
<class 'str'> <class 'float'> <class 'float'> <class 'bool'>

Cree un programa en phyton que lea un numero y determine si es par o impar

In [ ]:
num = int(input("Ingrese un numero:"))
if num % 2 == 0:
  print("El numero es par ", num)
else:
  print("El numero es impar")

Ingrese un numero:2
El numero es par  2

In [ ]:
nombre = input("Nombre: ")
print(nombre, nombre[2])

Nombre: David
David v

In [ ]:
def suma(num1, num2):
  return num1 + num2
num1 = float(input("Num1: "))
num2 = float(input("Num2: "))
resp =suma(num1, num2)
print("La suma es: ", resp)

Convertiri celsius a farenheit, usando fu nciones de usuario

In [46]:
def convertir_cf(c):
  return c*1.8 + 32

c = float(input("celsius: "))
print("F: ", convertir_cf(c))

celsius: 50
F:  122.0

Determinar si un numereo es par o impar

In [ ]:
def parImpar(num):
  if(num%2==0):
    return "par"
  return "impar"

num = int(input("Num: "))
print("El numero ", num, "es", parImpar(num))

Num: 9
El numero  9 es impar

Tarea (MIERCOLES)

1. Convertir grados farenheits a celsius
2. Convertir grados [Celsius y Fraenheit] a Kelvin.

In [12]:
def convertir_fc(f):
  return (f - 32) * 5/9

f = float(input("farenheit: "))
print("C:", convertir_fc(f))

farenheit: 10
C: -12.222222222222221

2, CONVERTIR GRADOS [CELSIUS Y FARENHEIT] A KELVIN

> Agregar bloque entrecomillado

In [92]:
def covertir_ck(c):
  k = c + 273.15
  return k

def convertir_fk(c):
  c = ((f - 32) * 5/9) +273.15
  k = c * 1.8 + 32
  return k

c = float(input("Celsius a Kelvin: "))
print("K:", covertir_ck(c))

c = float(input("Farenheit a Kelvin: "))
print("k:", convertir_fk(c))

Celsius a Kelvin: 70
K: 343.15
Farenheit a Kelvin: 70

NameError: name 'k' is not defined

Calcular el sueldo de un trabajador

In [ ]:
def sueldo(numHrs, valorxHrs):
  sueldo = numHrs * valorxHrs * 30 # 10*1.5*30 = 450
  if(numHrs>8):
    sueldo= sueldo + (numHrs-8) * valorxHrs * 30 # 2*1.5*30 = 90
  return sueldo

numHrs = int(input("Horas: "))
valorxHrs = float(input("Valor: "))

print("sueldo: ", sueldo(numHrs, valorxHrs))

Horas: 10
Valor: 1.5
sueldo:  540.0

In [62]:
# Función para convertir Fahrenheit a Kelvin
def fahrenheit_a_kelvin(fahrenheit):
    # Convertir Fahrenheit a Celsius
    celsius = (fahrenheit - 32) * 5.0 / 9.0
    # Convertir Celsius a Kelvin
    kelvin = celsius + 273.15
    return kelvin

# Ejemplo de uso
fahrenheit = 98.6
kelvin = fahrenheit_a_kelvin(fahrenheit)
print(f"{fahrenheit} grados Fahrenheit son {kelvin:.2f} Kelvin.")

98.6 grados Fahrenheit son 310.15 Kelvin.