<a href="https://colab.research.google.com/github/dawick24/Progra-III-2024/blob/main/Fundamentos_de_phyton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hola mundo")
nombre = "David Portillo"

print("Hola", nombre, ", inicial ", nombre[0])

hola mundo
Hola David Portillo , inicial  D

In [ ]:
num1 = 5
num2 = 9.5
resp = num1 + num2
print("La suma es: ", resp)

La suma es:  14.5

Sumar dos numerosw introducidos por el usuario

In [ ]:
print("Num1")
num1 = float (input())

print("Num2")
num2 = float (input())

resp= num1 + num2
print("La suma es: ", resp)

Num1
1
Num2
2
La suma es:  3.0

Mostrar salida oculta

In [ ]:
nombre = "David Portillo"
print(nombre[0:4], nombre[:4], nombre[-1], nombre[5:len(nombre)])

estado = True
print(estado)

print(type(nombre), type(num1), type(num2), type(estado) )

Davi Davi o  Portillo
True
<class 'str'> <class 'float'> <class 'float'> <class 'bool'>

Cree un programa en phyton que lea un numero y determine si es par o impar

In [ ]:
num = int(input("Ingrese un numero:"))
if num % 2 == 0:
  print("El numero es par ", num)
else:
  print("El numero es impar")

Ingrese un numero:2
El numero es par  2

In [ ]:
nombre = input("Nombre: ")
print(nombre, nombre[2])

Nombre: David
David v

In [ ]:
def suma(num1, num2):
  return num1 + num2
num1 = float(input("Num1: "))
num2 = float(input("Num2: "))
resp =suma(num1, num2)
print("La suma es: ", resp)

Convertiri celsius a farenheit, usando fu nciones de usuario

In [ ]:
def convertir_cf(c):
  return c*1.8 + 32

c = float(input("celsius: "))
print("F: ", convertir_cf(c))

celsius: 50
F:  122.0

Determinar si un numereo es par o impar

In [ ]:
def parImpar(num):
  if(num%2==0):
    return "par"
  return "impar"

num = int(input("Num: "))
print("El numero ", num, "es", parImpar(num))

Num: 9
El numero  9 es impar

Tarea (MIERCOLES)

1. Convertir grados farenheits a celsius
2. Convertir grados [Celsius y Fraenheit] a Kelvin.

In [ ]:
def convertir_fc(f):
  return (f - 32) * 5/9

f = float(input("farenheit: "))
print("C:", convertir_fc(f))

farenheit: 10
C: -12.222222222222221

2, CONVERTIR GRADOS [CELSIUS Y FARENHEIT] A KELVIN

---



> Agregar bloque entrecomillado

In [ ]:
def convertir_ck(c):
  k = c + 273.15
  return k

c =float(input("Celsius: "))
print("Kelvin: ", convertir_ck(c))

Celsius: 20
K:  293.15

Farenheit a Kelvin

In [ ]:
def convertir_fk(f):
  k = (f - 32) * 5/9 + 273.15
  return k

f = float(input("Farenheit: "))
print("Kelvin: ", convertir_fk(f))

Farenheit: 70
Kelvin:  294.26111111111106

Calcular el sueldo de un trabajador

In [ ]:
def sueldo(numHrs, valorxHrs):
  sueldo = numHrs * valorxHrs * 30 # 10*1.5*30 = 450
  if(numHrs>8):
    sueldo= sueldo + (numHrs-8) * valorxHrs * 30 # 2*1.5*30 = 90
  return sueldo

numHrs = int(input("Horas: "))
valorxHrs = float(input("Valor: "))

print("sueldo: ", sueldo(numHrs, valorxHrs))

Horas: 10
Valor: 1.5
sueldo:  540.0

Elevar un numero al cuadrado

In [ ]:
def elevarCuadrado(base=0,exponente=2):
 return base**exponente

In [ ]:
num = int(input("Num: "))
print("cuadrado: ", elevarCuadrado(num, 3))

Num: 3
cuadrado:  27

USANDO FUNCIONES LAMBDA

In [ ]:
elevarCuadradoLambda = lambda base, exponente: base**exponente

In [ ]:
valor = int(input("Num: "))
print("cuadrado: ", elevarCuadradoLambda(valor, 2))

Num: 3
cuadrado:  9

In [ ]:
serie = [5,4,3,2,6,7]
resp =map(lambda x: x**2, serie)
print(list(resp))

resp2 = map(elevarCuadrado, serie)
print(list(resp2))

[25, 16, 9, 4, 36, 49]
[25, 16, 9, 4, 36, 49]

Obtener la raiz cuadrada de una serie de numeros frios

In [ ]:
def raizcuadrada(serie):
  return num**0.5

In [ ]:
serie = [2,4,6,8,10]
resp = map(raizcuadrada, serie)
print(list(resp))

[1.7320508075688772, 1.7320508075688772, 1.7320508075688772, 1.7320508075688772, 1.7320508075688772]

***TAREA***  EJERCICIOS PRACTICOS EN PHYTON – Grupos 4

---

# 3- Desarrolle la tabla de meses acumulados a n meses:

In [38]:
def calcular_acumulacionde(meses):
   acumulacion = 0
   for i in range(1, meses + 1):
       acumulacion += i
   return acumulacion

meses = int(input("Ingrese el numero de meses: "))
resultado = calcular_acumulacionde(meses)
print(f"Acumulacion de {meses} meses: {resultado}")

Ingrese el numero de meses: 24
Acumulacion de 24 meses: 300

# 1- **Calcular** sobre el sueldo las deducciones por ley ISSS (3%), AFP(6.25%), ISR(Según tabla) e imprima el total deducciones y sueldo neto.

In [31]:
sueldo_salarial = float(input("Ingrese el sueldo: "))
ISSS = sueldo_salarial * 0.03
AFP = sueldo_salarial * 0.0625
ISR = sueldo_salarial * 0.30 # SERA EL % DEL ISR QUE QUEREMOS
# TOTAL DE LAS 3 DEDUCCIONES
total_deduccion = ISSS + AFP + ISR
# SUELDO NETO - EL TOTAL DE DEDUCCION
sueldo_neto = sueldo_salarial - total_deduccion

print(f"ISSS: ${ISSS:.2f}")
print(f"AFP: ${AFP:.2f}")
print(f"ISR: ${ISR:.2f}")
print(f"Total de deducciones: ${total_deduccion:.2f}")
print(f"Sueldo: ${sueldo_neto:.2f}")

Ingrese el sueldo: 800
ISSS: $24.00
AFP: $50.00
ISR: $240.00
Total de deducciones: $314.00
Sueldo: $486.00

# **Calcular el valor a pagar según el número de metros consumidos de agua potable.**

In [8]:
def obtenernota(nota,eval):
   return eval[1]*0.3 + nota

In [22]:
matriz = [ ["Lab1", 8],["Lab2, 9"], ["Parcial, 8"] ]
functools.reduce(obtenerNota, matriz, 0)

NameError: name 'functools' is not defined

In [18]:
serie = [1,2,3,3,4,4,1,8,9]
print(serie.count(1))

2

In [20]:
23numeros = []
for i in range (1,10):
  numeros.append(input("Num: " + str(i)+":"))
num = int(input("Numero a buscar: "))
print("Serie: ", numeros, "El numero", num, ", Se repite:", numeros.count(num))

Num: 1:1
Num: 2:1
Num: 3:1
Num: 4:
Num: 5:
Num: 6:3
Num: 7:4
Num: 8:2
Num: 9:4
Numero a buscar: 1
Serie:  ['1', '1', '1', '', '', '3', '4', '2', '4'] El numero 1 , Se repite: 0

In [27]:
numeros = [1,5,3,4,6,2]
numeros.sort()
print(numeros)

[1, 2, 3, 4, 5, 6]

**DICCIONARIO**

In [24]:
datos = {
    "Codigo":"SMSS132922",
    "Nombre":"David Portillo",
    "MateriaS":{
        {"Codigo":"683","Nombre":"Programacion","notas":{
            "c1":{"lab1":8,"lab2":9,"parcial":10,
            "c1":"lab1":4,"lab2":9,"parcial":10,
            "c1":"lab1":3,"lab2":4,"parcial":5,
            }
         },
        {"Codigo":"698","Nombre":"Matematica"}
    }
}
print(datos["Nombre"], datos["Materias"[0]["Nombre"]])

<>:9: SyntaxWarning: str indices must be integers or slices, not str; perhaps you missed a comma?
<>:9: SyntaxWarning: str indices must be integers or slices, not str; perhaps you missed a comma?

TypeError: unhashable type: 'dict'